<!--*******************************************************HEADER************************************************** -->
    <header>
        <div class="container">
            <div class="slider-container">
                <div class="intro-text">
                    <div class="intro-heading">We help Waterloo students live in a better place</div>
                    <% if !logged_in? %>
                    <%= link_to "Sign Up for Free", signup_path, class: "page-scroll btn btn-xl" %>
                    <% end %>
                </div>
            </div>
        </div>
    </header>
    <!--**************************************************SERVICE**************************************************-->
    <section id="portfolio " class="light-bg" style="border-bottom: 5px solid #ff5647;">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 text-center ">
                    <div class="section-title ">
                        <h2 style="color:#ff5647;font-weight: 500 ">SERVICE</h2>
                        <p>Select the service you need to view the all the listed posts.</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <!-- start service item -->
                <!-- Photo by David Levêque on Unsplash -->
                <div class="col-md-6 ">
                    <div class="ot-portfolio-item ">
                        <figure class="effect-bubba ">
                            <%= image_tag("car.jpg", :alt => "img01", height: '100%', width: '100%') %>
                            <figcaption>
                                <h2>CARPOOL</h2>
                                <p>Click to view all avaliable carpools</p>
                                <%= link_to "View more carpools", carpools_path, class: "navbar-brand", id: "logo" %>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end service item -->
                <!-- start service item -->
                <!-- Photo by Daniel DiNuzzo on Unsplash -->
                <div class="col-md-6 ">
                    <div class="ot-portfolio-item ">
                        <figure class="effect-bubba ">
                        <%= image_tag("housing.jpg", :alt => "img02", height: '100%', width: '100%') %>
                            <figcaption>
                                <h2>HOUSING</h2>
                                <p>Click to view all avaliable housing</p>
                                <%= link_to "View more housings", housings_path, class: "navbar-brand", id: "logo" %>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- end service item -->
            </div>
        </div>
    </section>
    <!--**************************************************DARK SECTION**************************************************-->
    <section class="overlay-dark bg-img1 dark-bg short-section " style="border-bottom: 5px solid #ff5647;">
        <div class="container text-center ">
            <div class="row ">
                <div class="col-md-4 mb-sm-30 ">
                    <div class="counter-item ">
                        <h2 data-count="59 ">201</h2>
                        <h6>Total Users</h6>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30 ">
                    <div class="counter-item ">
                        <h2 data-count="1054 ">34</h2>
                        <h6>Carpool Drivers</h6>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30 ">
                    <div class="counter-item ">
                        <h2 data-count="34 ">73</h2>
                        <h6>Renter</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--**************************************************ABOUT**************************************************-->
    <section id="about" class="light-bg" style="border-bottom: 5px solid #ff5647;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2 style="color:#ff5647;font-weight: 500 ">ABOUT UWLife+</h2>
                        <p>We provide a platform which students can find carpool, sublet. Our service is region based, and currently we have service at Waterloo regions.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- about module -->
                <div class="col-md-3 text-center">
                    <div class="mz-module-about">
                        <i class="fa fa-certificate ot-circle" style="color:#ff5647;font-size: 2em;"></i>
                        <h3>CERTIFICATION</h3>
                        <p>All drivers, renters are certificated, registered and controlled under our system.</p>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 text-center ">
                    <div class="mz-module-about ">
                        <i class="fa fa-calendar-check-o ot-circle" style=" color:#ff5647;font-size: 2em;"></i>
                        <h3>ON TIME</h3>
                        <p>All drivers, renters should meet their customers on time. Otherwise, customers can give them bad evaluation, and we will block them.</p>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 text-center ">
                    <div class="mz-module-about ">
                        <i class="fa fa-thumbs-o-up ot-circle" style=" color:#ff5647;font-size: 2em;"></i>
                        <h3>RATE SYSTEM</h3>
                        <p>Customers can choose drivers and renter based on their rate history.</p>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 text-center ">
                    <div class="mz-module-about ">
                        <i class="fa fa-heart ot-circle" style=" color:#ff5647;font-size: 2em;"></i>
                        <h3>MAKE FRIENDS</h3>
                        <p>In UWLife+ APP, Users can post interesting things around campus , share them with others and chat with others</p>
                    </div>
                </div>
                <!-- end about module -->
            </div>
        </div>
        <!-- /.container -->
    </section> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">