<!--*******************************************************HEADER************************************************** -->
    <header>
    <div class="hearder_carpool">
        <div class="container">
            <div class="slider-container">
                <div class="intro-text-carpool">
                    <div class="intro-heading">Find your dirver for a pleasant ride</div>
                </div>
            </div>
        </div>
      </div>
    </header>

    <!--**************************************************LISTS**************************************************-->

<div class="container-fluid all-lists">
     <br><br>
  <div class="row lists">
  <br>
  <div class="container">
  <% @carpools.each do |carpool| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
        <% if carpool.user %>
              by <%= link_to carpool.user.username, user_path(carpool.user) %>
         <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b style="font-weight: 400;">From:</b> <%= carpool.locationFrom %></h5>
          <h5 class="card-title"><b style="font-weight: 400;">To:</b> <%= carpool.locationTo %></h5>
          <h5 class="card-title"><b style="font-weight: 400;">Price:</b> $<%= carpool.price %></h5>
          <h5 class="card-title"><b style="font-weight: 400;">Avaliable Seats:</b> <%= carpool.seats %></h5>
          <%= link_to "View", carpool_path(carpool), class: "btn view" %>
          <% if logged_in? && (carpool.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_carpool_path(carpool), class: "btn edit" %>
            <%= link_to "Delete", carpool_path(carpool), class: "btn delete", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(carpool.created_at) %> ago, 
          edited <%= time_ago_in_words(carpool.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid #ff5647;">
  <% end %>
  </div>
  </div>

        <div class="center">     
        <div class="flickr_pagination mb-4">
            <%= will_paginate @carpools, :container => false %>
        </div>
        </div>

    </div>

